*{ margin: 0px; padding: 0px; }
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin: 0px; padding: 0px; }
table{ border-collapse: collapse; border-spacing: 0px; }
fieldset, img{ border: 0px; }
address, caption, cite, code, dfn, em, strong, th, var{ font-style: normal; font-weight: normal; }
ol, ul, li{ list-style: none; display:inline; }
caption, th{ text-align: left; }
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal; }
q:before, q:after{ content: ""; }
abbr, acronym{ border: 0; }
strong{ font-weight: 700; }
article, aside, figure, footer, header, nav, section{ display:block; }
a{ text-decoration:none; color:#000; }
a:hover, a:active, a:focus{ color:#aeaeae; text-decoration:none; transition:all 0.35s ease-in-out 0s; }
img, a{ margin:0px; padding:0px; outline:none !important; max-width: 100%; height: auto; }
img:hover{ /*opacity: 0.7;*/ }
.img_holder{ height:auto; width:100%; border-radius: 0px; overflow: hidden; }
.no_pad{ padding-left: 0; padding-right: 0; }
.clear{ clear:both; }
*:focus{ outline: none; }
.page-wrap{	width:1200px; margin:0 auto; }
.sec{ width:100%; padding:70px 0; }
.owl-carousel{ direction: ltr; }
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */ color: #767676; }
::-moz-placeholder{ /* Firefox 19+ */ color: #767676; opacity: 1; }
:-moz-placeholder{ /* Firefox 18- */ color: #767676; opacity: 1; }
:-ms-input-placeholder{ /* IE 10+ */ color: #767676; }
/* For Bootstrap */
.navbar{ border:none; border-radius:0px; margin:0px; }
.nav > li > a:focus, .nav > li > a:hover{ background-color:transparent; }
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{ background-color: transparent; border-color: transparent; }
.navbar-toggle{ background-color: #6d6d6d; }
.navbar .navbar-nav li.active a{ color:#114d89; font-weight: 700; }
.icon-bar{ background-color: #ffffff; }
/* END - For Bootstrap */
body{ font-style:normal; font-variant:normal; font-weight:normal; font-size:14px; line-height:normal; font-family:Lato, sans-serif; color: #000;
background-color: #FFFFFF; }
h1{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:40px;	line-height:normal;	font-family:Lato; color: #114d89; }
h2{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:35px;	line-height:normal;	font-family:Lato; color: #114d89; }
h3{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:30px;	line-height:normal;	font-family:Lato; color: #114d89; }
h4{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:25px;	line-height:normal;	font-family:Lato; color: #114d89; }
h5{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:20px;	line-height:normal;	font-family:Lato; color: #114d89; }
h6{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:16px;	line-height:normal;	font-family:Lato; color: #114d89; }
p{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:14px;	line-height:normal;	font-family:Lato; color: #6d6d6d; }
span{ font-style:normal; font-variant:normal; font-weight:normal; font-size:14px; line-height:normal; font-family:Lato; color: #000; }
li{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:14px;	line-height:normal;	font-family:Lato; color: #000; }
a{ font-style:normal; font-variant:normal; font-weight:normal;	font-size:14px;	line-height:normal;	font-family:Lato; color: #000; }

.orange_line{border-top:3px solid #f27a21; height:3px; width:140px; margin:0px auto; }
.orange_line2{ border-top: 1px solid #f27a21; height:2px; width:100px; margin: 15px 0; }
.white_line{border-top:3px solid #FFFFFF; height:3px; width:140px; margin:0px auto; }
form input[type="button"]{ background-color:#f37b21; border:none; padding: 10px 30px; border-radius: 5px; color:#FFFFFF; }
form input[type="submit"]{ background-color:#f37b21; border:none; padding: 10px 30px; border-radius: 5px; color:#FFFFFF; }

/* LOGO */
header #earth{
	float: left;
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0px;
	background: url("../images/globe.png") 0 0 repeat;
	border-radius: 50%;
	background-size: contain;
	-o-animation: rotate 60s running infinite;
	-ms-animation: rotate 60s running infinite;
	-moz-animation: rotate 60s running infinite;
	-webkit-animation: rotate 60s running infinite;
	animation: rotate 60s running infinite;
	-o-transition: transform 200ms linear;
	-webkit-transition: transform 200ms linear;
	-moz-transition: transform 200ms linear;
	-ms-transition: transform 200ms linear;
	transition: transform 200ms linear;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	/*box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1); color: #000;*/
}
header #earth:before{ content: ""; position: absolute; border-radius: 50%; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; background: radial-gradient(circle at 100px 100px, #fff, #000); }
header #earth:after{ content: url("../images/magnifier.png"); position: absolute; top: 20%; left: -11%; width: 100%; height: 100%; border-radius: 50%; box-shadow: -80px 15px 80px 10px rgba(0,0,0,0) inset; }
@-webkit-keyframes rotate{
0%{ background-position: 0 0; }
100%{ background-position: 630px 0; }
}
@keyframes rotate{
0%{ background-position: 0 0; }
100%{ background-position: 630px 0; }
}
/* END-LOGO */
header{ padding: 20px 0px; }
header .login{ margin-top: 10px; }
header a img{float:left;}
header a h3{ color:#114d89; font-size:20px; letter-spacing:1px; font-family: "Trajan Pro", sans-serif; margin:5px 0px 0px 10px; float: left; }
header form input[type="search"]{ color: #114d89; height: 33px; vertical-align: middle; padding: 0px 10px; border-radius: 7px; border: none; width: 88%; position: absolute; left: 0px; top: 0px; }
header .gender{ margin-bottom:15px; -moz-appearance: none; -webkit-appearance: none; -o-appearance:none; appearance:none; background-color: transparent; border: 1px solid #333333;  border-left:0px; border-radius: 0; box-sizing: border-box; display: inline; padding: 5px; position: relative; width: 30%; color:#333333; height:35px;}
header .gender::-ms-expand{ display:none;} /* for IE */
header .wrapper{ position: relative; display: -moz-inline-stack; display: block; vertical-align: middle; margin-top: 0px; width: 100%; border-radius: 7px; height: 35px;
 border: 1px solid #939393; padding: 0 7px; }
header form button{ background: none; border: 0px; color: #939393; width: 8%; font-size: 16px; line-height: 33px; float: right; }
header .login li.first{ border-right:1px solid #f27a21; padding: 5px 0px; }
header .login li a{ color:#114d89; font-size:12px; margin-right: 10px; margin-left: 5px; font-weight:700; }

.navbar{ background-color:#114d89; border:0px; }
.navbar .navbar-nav{ display: inline-block; float: none; vertical-align: top; }
.navbar .navbar-collapse{ text-align: center; }
.navbar .navbar-nav li a{padding:15px 25px; color:#FFFFFF; }
.navbar .navbar-nav li.active{ background-color: #f27a21; }
.navbar .navbar-nav li a span.caret{ color:#FFFFFF; }
.navbar .navbar-nav li.active a span.caret{ color:#114d89; }

.main .owl-carousel3 .item img{ display: block; width: 100%; max-height: 500px;}
.main .owl-carousel3 .item .caption{ left: 10%; position: absolute; top: 10%; z-index: 1;}
.main .owl-carousel3 .owl-controls .owl-nav .owl-prev{ position: absolute; left: 30px; top: 200px; width: 50px;}
.main .owl-carousel3 .owl-controls .owl-nav .owl-next{ position: absolute; right: 0; top: 200px; width: 50px;}
.main .owl-carousel3 .owl-controls .owl-nav .fa{font-size:60px; color:#000000; font-weight:700;}

.programs h4{ text-align:center; margin:0px auto 30px; }
.programs .box1{background-color:#f1f2f2; padding: 30px; margin-top: 30px; transition:all 0.5s ease-in-out 0s; }
.programs .box1 .fa{ color:#114d89; text-align:center; font-size:75px; margin:0px auto 15px; display:block; }
.programs .box1 h5{ text-align:center; font-weight:700; margin-bottom:15px; }
.programs .box1 p{ text-align:center; font-size: 12px; margin:15px 0px; }
.programs .box1 a{ width:150px; line-height:40px; margin:0px auto; background-color:#f27a21; display:block; text-align:center; color:#ffffff; border-radius:7px; font-weight:700; }
.programs .box1:hover{background-color:#114d89; }
.programs .box1:hover .fa, .programs .box1:hover h5, .programs .box1:hover p{ color:#FFFFFF;}
.programs .box1 .line2{ border-top:1px solid #f27a21; height:2px; width:100px; margin:0px auto; }
.programs .box1:hover .line2{ border-top:1px solid #FFFFFF; }

.orange{ background: #f27a21 url("../images/bg_orange.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.orange h4{ text-align:center; margin:0px auto 30px; color:#FFFFFF; }
.orange p{ color:#FFFFFF; text-align:center; font-size: 12px; margin:30px 0px; }
.orange a{ width:150px; line-height:40px; margin:0px auto; background-color:#114d89; display:block; text-align:center; color:#ffffff; border-radius:7px; font-weight:700; }

.industry h4{ text-align: center; margin: 0px auto 30px; }
.industry .box2{ position: relative; height: 100%; width: 100%; display: block; margin-top: 30px;}
.industry .box2 .date{ position:absolute; top:0; left:0;}
.industry .box2 .date .day{ background-color: #114d89; color: #FFFFFF; width: 60px; line-height: 45px; text-align: center; font-size: 25px; font-weight: 700; }
.industry .box2 .date .month{ color:#FFFFFF; background-color:#f27a21;  width:60px; line-height:25px; text-align:center; font-size:12px; }
.industry .box2 p{ position:absolute; bottom: 20px; left:20px; color:#FFFFFF; font-size: 15px; font-weight:700; }
.industry .box2:hover img{ background-color: #114d89; }
.industry .box2:hover img{ opacity: 0.7; }

footer{ background-color:#1e1e1e; padding: 0px 0px 5px; }
footer .top{padding: 40px 0px; border-bottom:1px solid #636363;}
footer .top h6{ color:#acacac; font-size:13px; letter-spacing:1px; font-family: "Trajan Pro", sans-serif; margin-top:-5px; }
footer .top h6::before{ content: url("../images/logo2.png"); margin-right: 1px; }
footer .top li{ color:#acacac; padding:5px 18px; }
footer .top li a{ color:#acacac; }
footer .top .col-md-6{ text-align: center; }
footer .top .sm{ float: right; }
footer .top .sm li{list-style:none; display:inline; margin-left:15px; padding: 0px; }
footer .top .sm li a{width:35px; line-height:35px; display: inline-block; text-align:center; vertical-align:middle; padding:0px; font-size: 20px; }
footer .top .sm li a i{ font-size: normal; }
footer .top .sm li.fb a{ color:#FFFFFF; background-color:#3b5998; }
footer .top .sm li.fb:hover a{ color:#3b5998; background-color:#FFFFFF; -webkit-transition: all 1s linear 0s; -moz-transition: all 1s linear 0s; -o-transition: all 1s linear 0s; transition: all 1s linear 0s; }
footer .top .sm li.twitter a{ color:#FFFFFF; background-color:#55acee; }
footer .top .sm li.twitter:hover a{ color:#55acee; background-color:#FFFFFF; -webkit-transition: all 1s linear 0s; -moz-transition: all 1s linear 0s; -o-transition: all 1s linear 0s; transition: all 1s linear 0s; }
footer .top .sm li.linkedin a{ color:#FFFFFF; background-color:#007bb5; }
footer .top .sm li.linkedin:hover a{ color:#007bb5; background-color:#FFFFFF; -webkit-transition: all 1s linear 0s; -moz-transition: all 1s linear 0s; -o-transition: all 1s linear 0s; transition: all 1s linear 0s; }
footer .top .sm li:hover a{ background-color: transparent; color:#ffffff; -webkit-transition: all 1s linear 0s; -moz-transition: all 1s linear 0s; -o-transition: all 1s linear 0s; transition: all 1s linear 0s; }
footer .bottom{ padding: 5px 0px; }
footer .bottom ul{ float:none; margin: 0px auto; width: 90%; display: block; text-align: center; }
footer .bottom ul li{ line-height: 25px; display: inline-block; text-align: center; color:#acacac; border-left:1px solid #acacac; border-right:1px solid #acacac; padding: 0px; margin: 0px; width:220px; }
footer .bottom li.first, footer .bottom li.last{ border-left:none; border-right:none; }
footer .bottom ul li a{ padding: 0px; margin: 0px; color:#acacac; }

.banner .img_holder{ position: relative; }
.banner h4{ font-size: 23px; position: absolute; top: 43%; z-index: 2; color: #FFFFFF; font-weight: 100; display: block; width: 100%; height: 35px; text-align: center; }

.tiles{ padding: 70px 0 30px; }
.tiles .col-md-3:nth-child(1) .box4{ background-color: #114d89; padding: 70px 0px; }
.tiles .col-md-3:nth-child(2) .box4{ background-color: #0d4781; padding: 70px 0px; }
.tiles .col-md-3:nth-child(3) .box4{ background-color: #09437d; padding: 70px 0px; }
.tiles .col-md-3:nth-child(4) .box4{ background-color: #073e76; padding: 70px 0px; }
.tiles .box4 i{ text-align: center; color: #FFFFFF; margin: 0 auto 20px; display: block; font-size: 40px; }
.tiles .box4 h5{ text-align:center; color:#FFFFFF; margin-bottom:20px; }
.tiles .box4 p{ text-align:center; color:#FFFFFF; }

.contact{ padding-bottom: 70px; }
.contact iframe{ border: 5px solid #f3f5f6; }
.contact form input[type="text"]{ background-color:#f3f5f6; padding: 15px; color: #969696; border:none; width:100%; clear:both; margin-bottom: 15px; }
.contact form textarea{ background-color:#f3f5f6; padding: 15px; color: #969696; border:none; width:100%; height: 160px; margin-bottom: 15px;  }
.contact .col-md-7{ padding-left:0px; }
.contact .col-md-5{ padding-right:0px; }

.solutions h4{ margin-bottom:30px; text-align:center; }
.solutions p{ margin-top:30px; text-align:center; }
.solutions .box1{background-color:#f1f2f2; padding: 75px 35px; margin-top: 30px; transition:all 0.5s ease-in-out 0s; }
.solutions .box1 h5{ color:#114d89; text-align:center; font-weight:700; margin-bottom:15px; }
.solutions .box1 p{ text-align:center; font-size: 12px; margin:15px 0px; }
.solutions .box1 a{ width:150px; line-height:40px; margin:0px auto; background-color:#f27a21; display:block; text-align:center; color:#ffffff; border-radius:7px; font-weight:700; }
.solutions .box1:hover{background-color:#114d89; }
.solutions .box1:hover .fa, .solutions .box1:hover h5, .solutions .box1:hover p{ color:#FFFFFF; }
.solutions .box1 .line2{ border-top:1px solid #f27a21; height:2px; width:100px; margin:0px auto; }
.solutions .box1:hover .line2{ border-top:1px solid #FFFFFF; }

.brands h4{ margin-bottom:30px; text-align:center; }
.brands p{ margin-top:30px; text-align:center; }
.brands{ text-align:center; padding: 0px 0px 70px;}
.brands .box5{ margin-top: 30px; border:1px solid #f1f2f2; width:100%; height: auto; padding: 10px; }

.about p{ margin-top:15px; }
.gray{ background-color:#f1f2f2; }
.gray p{ margin-top:15px; }
.team h5{ color:#f27a21; font-weight:700; margin-top:15px; }
/*.team .img_holder{ border: 2px solid #114d89; }*/

.login form label{ margin-top: 20px; width: 150px; line-height: 25px; float: left; }
.login form input[type="text"], .login form input[type="password"]{ margin-top: 10px; width: 200px; border: 1px solid #CCCCCC; padding: 10px; }
.login form input[type="text"]:focus, .login form input[type="password"]:focus{ border: 1px solid #114D89; }
.login form input[type="submit"]{ margin-top: 20px; }
.login .box5{ padding: 30px; border: 2px solid #f1f1f1; }
.login .box6{ padding: 32px; }

.search form label{ width: 100%; margin-top: 15px; }
.search form label[for=male], .search form label[for=female]{ width: 85%; float:left; margin: 0px; }
.search form input[type="text"]{ width: 60%; float:left; margin: 0px; padding: 10px; border: 1px solid #A9A9A9; border-radius: 0px; }
.search form select{ color: #767676; width: 60%; float:left; margin: 0px; padding: 10px; }
.search form input[type="radio"]{ width: 10%; float:left; margin-bottom: 10px; }
.search form input[type="checkbox"]{ width: 10%; float:left; margin-bottom: 10px; }
.search form input[type="submit"]{ margin-top: 40px; clear:both; }
.search form input[type="button"]{ margin-top: 40px; clear:both; }
.search .list-group-item.active a{ color:#FFFFFF; }
.search h5{ margin: 30px 0px; }
.search iframe{ border: 0px; width: 100%; height: 1028px; }

/* Media Queries */
@media (max-width: 1280px) and (min-width: 1024px){
footer .top h6{ font-size: 10px; }
footer .top li{ padding: 5px 5px; }
footer .bottom ul li{ width: 180px; }
/*.team .img_holder{ border: none; }*/
}
@media (max-width: 1280px) and (min-width: 768px){
.navbar .navbar-nav li a{ padding: 15px 20px; }
footer .top h6{ font-size: 10px; }
footer .top li{ padding: 5px 5px; }
footer .bottom ul li{ width: 170px; border: none; }
/*.team .img_holder{ border: none; }*/
}
@media (max-width: 991px){
header .login{ margin: 10px 0px 20px; float: right; }
header .wrapper{ float: left; }
.navbar .navbar-nav{ width: 100%; }
.contact iframe{ margin-bottom: 15px; }
.contact .col-md-7{ padding-left:15px; }
.contact .col-md-5{ padding-right:15px; }
.navbar .navbar-nav{ width: 100%; }
footer .bottom ul li{ border: none; }
footer .top, footer .top .sm{ text-align:center; float: none; }
footer .top ul, footer .top .sm{ margin-top: 30px; display: block; }
.about .img_holder{ margin-top: 30px; }
/*.team .img_holder{ border: none; }*/
.industry .box2 > img{ width: 100%; height: 200px; }
.gray .col-md-6:nth-child(even){ margin-top: 30px; }
}
@media (max-width: 767px){
.banner img{ width: 100%; height: 150px; }
footer .top li{ padding: 5px 10px; display: inline-block; }
footer .bottom ul li{ display: block; width:100%; }
}
@media (max-width: 577px){
header .login{ margin: 20px 0px; float: left; clear: both; }
}
@media (max-width:375px){
header a h3{ font-size: 18px; margin: 20px 0px 0px 0px; clear: both; }
}
@media (max-width:320px){
}